<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>© {{ site.author }} <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/assets/images/cc-by-nc-sa-icon.png" loading="lazy" width="88" height="31"/></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="feed"><a href="/feed.xml"><img
          src="/assets/images/feed-icon.png"
          alt=""
          width="14"
          height="14"
          loading="lazy"
        /> Web feed</a></p>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      </div>
      <div class="footer-col footer-col-2">
        <p><a href="https://akols.com/previous?id=paperless" title="previous">⬅</a> Epesooj webring <a href="https://akols.com/next?id=paperless" title="next">➡</a></p>
      </div>
      <div class="footer-col footer-col-3">
      </div>
    </div>

  </div>

</footer>
