---
title: The intricacies of the Norwegian tax system
categories:
  - bureaucracy
tags: []
author: Victor Engmark
---

<p>Or: Clueless bureaucrats attempting rip-off</p>

<p>
  The thing is, I am currently working at CERN, and here "nobody" pays taxes.
  Not by cheating, but because CERN is an international non-profit organization,
  and has arranged with lots of countries to exempt their workers and scientists
  from paying tax in their home countries. This is a very good thing for a
  Norwegian like me, since normal income tax AFAIK starts somewhere above 30%
  (disclaimer: because of studies I've never worked enough to get a "normal"
  Norwegian salary).
</p>
<p>
  However, as a good citizen (and to avoid a tax nightmare), I have the last
  months tried to find out exactly what I need to do in order to keep the
  paperwork in order. The first hint of information I received at the Norwegian
  "people register" (social security office?), where they said that as long as I
  am registered as working abroad, no problem. You don't pay. So I happily sent
  them the documents they needed (twice, actually, because the faxed version
  "got lost" even though I received a receipt), and today I got the confirmation
  that my application to be registered as moved to France permanently was
  accepted.
</p>
<p>
  Then over to calling the tax office to hear it from the "top". On Friday, I
  called the tax office of my first home town, where I have been registered as
  resident until today. They transferred my call four times, and then I was told
  to call again today. So I did, and they still had to transfer my call twice to
  get to the "right" person. He told me basically "No way, Jose", and I was left
  wondering how this could be. Of course, he couldn't tell me <em>for sure</em>,
  so I was redirected to the international department of the main tax office of
  Norway. There, I got nearly the same story, and I tried to explain that nobody
  else here seemed to have this kind of trouble. The person I talked to then
  started kind of an interrogation, repeatedly implying that the other people
  here must have been cheating somehow, and asking me to confirm this. Of course
  I don't know what the other people are doing when filing tax papers, but I'd
  be very surprised if any of them were attempting to do something illegal.
</p>
<p>
  After finishing the call, I started cold sweating. CERN is a great place to
  work, but I'd be hard put to it if I had to pay between 30 and 50 percent
  taxes on my income. So I decided to call another Norwegian, in order to know
  how things work. This person hadn't had any problems whatsoever, but knew of
  two others who had. I called one of them, and got quite a story: The Norwegian
  tax office had been really pushy, insinuating that this person had been trying
  to cheat the Norwegian state of its money. This person had delivered the
  normal tax forms, with a letter from CERN stating that the income should not
  be taxed because of agreements between Norway and CERN. The tax authorities
  did not agree, and gave the person a week to submit the income from CERN. The
  person then contacted a lawyer, who adviced the following:<br />
  <em
    >- Document that you should be considered a French tax payer by sending a
    "Certificate de residence fiscale" to the Norwegian tax authorities. This
    document must specify that you are living in France according to article 4
    in the tax agreement (artikkel 4 i skatteavtalen).</em
  ><br />
  <em
    >- If this is not accepted, you can use a "1 year rule", providing that you
    have been living in France at least 12 months, and stayed less than 72 days
    in Norway during this period.</em
  ><br />
  <em></em><br />
  I got more useful information from the person:<br />
  <em
    >- The requested "Certificate de residence fiscale" can be received at the
    Bellegarde tax office (I'll be back with details later).</em
  ><br />
  <em
    ><strong
      >- IF YOU STILL HAVE TO PAY THE TAX, IT WILL BE FULLY REIMBURSED BY
      CERN!</strong
    ></em
  ><br />
  <strong><em></em></strong><br />
  I expect this history to continue for a few months before a final solution is
  reached, but at least it now looks like I have a fair chance of giving the
  Norwegian tax authorities a legal FU. If not, my expenses will be limited to
  taking a[nother] loan and having it paid by CERN after some more paperwork.
</p>
