---
title: Wisdom teeth removal, part 1
categories:
  - health
tags: []
author: Victor Engmark
---

<p>
  It's done. I didn't record exactly how much time it took, but I'll recall the
  details of the operation. Some of the parts can be a bit scary if you're
  having the same operation yourself soon, but I assure you that your
  imagination is conjuring up a much worse picture than it actually is.
</p>

<p>
  I arrived at the dentist this morning at 11. He briefly went through the
  routine: Since the left wisdom teeth were the ones giving the most pain, we'd
  take those first. Then I'd decide on whether to continue.
</p>
<p>
  The operation started with gargling a mix of disinfectant and water. It didn't
  taste much, but it had an ugly dark brown color. But, as with the rest of the
  process, it was necessary. Afterwards I got a glass of water with Brufen, a
  pain-killer, to drink.
</p>
<p>
  The next step was injecting the anesthetic with a needle. Two injections
  (upper and lower left jaw), and then about five minutes of waiting. I'm not
  sure of the actual wording of the doctor (he spoke German), but he either said
  it was a derivative of heroin, or the drug itself. It sure didn't get me high,
  so I'll assume it was the former. The needle was just a small sting, but the
  feeling of the anesthetic was strange; a tingling feeling in the tongue and
  cheeks, like when your arm is "coming to life" after sleeping on it until you
  almost can't feel it.
</p>
<p>
  After the waiting, the doctor tested whether it was working by poking with the
  needle around the wisdom teeth. Couldn't feel a thing in the lower jaw, and
  just a tine sting in the upper one. At this stage, the left part of the tongue
  was pretty much lame, so I just had to "uh-huh" him.
</p>
<p>
  OK, ready for the operation. They had a portable CD player there, so I could
  listen to music all the time. This is a fucking great idea, as it took my mind
  pretty much off what was happening. The only downside was that the sound
  couldn't drown out the more noisy equipment the dentist was using. If you ever
  go to have your wisdom teeth removed (or any other operation taking more than
  a few minutes), remember to ask whether they have something similar, or bring
  it yourself. In any case, you'd want to bring your own music. And I'd take a
  wild guess that Vivaldi or Darude is better than Evanescence or Rage Against
  the Machine. I listened to Vivaldi's "Four Seasons".
</p>
<p>
  They also had one of those eye covers that you get on long flights, to
  "protect the eyes" from any tooth parts cut away by the previously mentioned
  noisy equipment. I believe it's also used to avoid having to see the tools and
  workings of the operation, and better concentrate on the music. In hindsight,
  thank fuck for that!
</p>
<p>
  But, back to the operation itself. I didn't see shait, so I can't describe who
  did what (there was an assistant there as well), or how the equipment looked
  (phew). What I remember best, is trying really hard to concentrate on the
  music, while my bastard brain was constantly inquiring just what the hell was
  happening. Something else I remember very well are the sounds. The deafening
  "meeeeoww" of the saw thingy used to cut both upper wisdom teeth in half
  before removing them, and the cracking sound when the teeth where squeezed
  something awful (I really felt this for one of the teeth) and pulled out.
  There is something alarming about these kinds of sounds being transferred
  directly through your skull to the ears...
</p>
<p>
  After finishing off the two first wisdom teeth, I had to gargle the
  disinfectant mix again, and blood was flowing steadily. Then the dentist asked
  whether I'd like to continue with the other two. I just wanted it to be over,
  but putting it off would mean a larger total of pain - I gave the go-ahead.
</p>
<p>
  The second part was not much different from the first, except the upper left
  tooth took longer than the others to remove. After sawing the tooth in two,
  the doctor (I assume) clamped down on the rest, and tried to pull it out. He
  used my lip corner as leverage point, and at some point he was using so much
  force I was afraid he was going to give me a bigger mouth.
</p>
<p>
  Afterwards, I had to do the gargling routine again. Then I went back to the
  dentist's office with him, and he laid down some hints, rules, left-overs, and
  utilities. He put the teeth in a plastic bag, just like any garage. Then I got
  two pills of Dalacin C to take today (dunno what they do), a small pack of
  tissues, a prescription for Brufen (same pain-killer as I got before the
  operation) and Nexcare (hot/cold gel compress), some ice cubes in a plastic
  bag, two pieces of gauze, and an appointment for tomorrow, to remove some
  things he put in at least one of the holes.
</p>
<p>
  The ice had two purposes: To be put on the cheeks to keep the swelling down,
  and to put in the mouth if the bleeding didn't stop. It was probably for the
  best, because I spit out two mouth-fuls of blood on the way home. I've heard
  that you can throw up if you swallow several decilitres of blood, so naturally
  I tried to avoid that as far as I could. When I came home, I tried keeping two
  ice cubes on the bleeding until they had melted away. This didn't stop the
  bleeding, so I opened the pack of gauze, put a piece on the spot, and kept my
  mouth shut. That worked wonders, and I've been bleeding very little since
  then. The Nexcare is still in the freezer, and I'll be using it for LOTR: The
  Two Towers.
</p>
<p>
  I was told not to go to work after the operation, even though I felt
  relatively fine. I was also told to avoid lying down (even with the ice
  patch), because that would make the swelling worse. I didn't ask about
  walking, but I don't want to scare too many pedestrians or get too far away
  from my pain-killers and a glass of water. Another recommendation to keep the
  swelling down was to avoid eating or drinking anything hot. Anything cold (ice
  cream, yoghurt, juice) was OK.
</p>
<p>
  The whole thing was over relatively fast. Comparing the arrival time to the
  bus ticket home and taking into account the time I used to get the medicine,
  I'd say the operation lasted about 25-35 minutes.
</p>
<p>
  How do I feel? There's a sort of "distant" pain in my jaw, but nothing really
  bad; the pain-killer seems to be working fine. And last, but certainly not
  least, Carte d'Or coffee ice cream tastes great!
</p>
