---
title: The Key to Hell
categories:
  - 3D graphics
tags: []
author: Victor Engmark
---

<div>
  <a href="https://www.flickr.com/photos/l0b0/3650993" title="The Key to Hell"
    ><img
      src="https://live.staticflickr.com/3/3650993_2a38f0a69d_b.jpg"
      width="1280"
      height="1024"
      alt="The Key to Hell"
  /></a>
</div>

<p>
  Rendering of a
  <a href="/assets/models/the%20key%20to%20hell.3ds">3D Studio 5 model</a>
  (0.2 MB) of the key to Hell, as depicted in "Season of mists", the fourth part
  of
  <a
    href="https://en.wikipedia.org/wiki/The_Sandman_%28DC_Comics_Modern_Age%29"
    rel="nofollow"
    >The Sandman Library</a
  >
  by
  <a href="https://en.wikipedia.org/wiki/Neil_Gaiman" rel="nofollow"
    >Neil Gaiman</a
  >.
</p>
