---
title: Jewellery with stone
categories:
  - 3D graphics
tags: []
author: Victor Engmark
---

<div>
  <a
    href="https://www.flickr.com/photos/l0b0/3650994/"
    title="Jewellery with stone"
    ><img
      src="https://live.staticflickr.com/3/3650994_f69d9ba305_o.png"
      width="1280"
      height="1024"
      alt="Jewellery with stone"
  /></a>
</div>

<p>
  Rendering of a
  <a href="/assets/models/jewellery%20with%20stone.3ds">3D Studio 5 model</a>
  (1 MB) of a piece of jewellery.
</p>
