---
title: Wisdom teeth removal, part 3
categories:
  - health
tags: []
author: Victor Engmark
---

<p>
  Day six, and still not done? That's right. I've been taking pain-killers three
  times per day, and I'll probably continue to do so for the rest of the week.
  Problem is, I've almost run out. We'll see.
</p>

<p>
  In addition to the pain-killers, I've had to gargle the antiseptic mouth wash
  twice a day. Fortunately, I don't have to take it undiluted, as I did before
  the operation. That left my tongue constantly feeling like I'd taken the
  "nuclear" grade spicy meal at an Indian restaurant.
</p>
<p>
  What's bothering me right now is the clove. It's stuck in those huge cavities
  where the teeth used to be, and I can feel the taste all the time. I've
  removed most of it using tweezers (boiled them first, to avoid any infection),
  but the taste is still there. And my breath smells like shit. I can even taste
  it, and that's pretty disgusting. So I'm constantly drinking water and chewing
  gum, but it doesn't help too much. Yeech!
</p>
<p>
  Oh, and I have another appointment in about two weeks, to see how it's going.
</p>
