---
title: The road to driving, part 6
categories:
  - bureaucracy
tags: []
author: Victor Engmark
---

<p>
  Something like two weeks ago I got a message from DRIRE that they were still
  missing the "notice descriptive du type". I had already submitted the
  requested information to SAAB France, so naturally I emailed them to know what
  was up. They said they remember the query to get the forms, but claimed that
  they had never been returned. So they faxed me a new copy. This, of course,
  took some time filling in, especially since none of the technical terms in the
  forms were explained (e.g. "<a
    href="https://fr.wikipedia.org/wiki/Cheval-vapeur"
    >CH</a
  >"). A few days after mailing them (they didn't want the results by fax), I
  got a message back saying that the form was incomplete. As far as I could read
  with my bad French, they wanted the following:
</p>

<ul>
  <li>
    The exact date for the "1erè mise en circulation", which I expect is the
    first time the car was used
  </li>
  <li>A copy of the Italian "carte grise", which I believe is now at DRIRE</li>
  <li>The value for the one field of the form I had not filled in, "CH"</li>
</ul>
<p>
  Today I called SAAB to tell them to get the necessary information from DRIRE.
  They told me that they had been able to dig up the information I sent them in
  August last year, and that I could just sit back and wait for the paper to
  arrive. WTF?!
</p>
