---
title: "Re: Profiting From Your Passions"
categories:
  - open source
  - work
tags: []
author: Victor Engmark
---

<p>
  The "Lazy Way" blog recently
  <a href="https://lazyway.blogs.com/lazy_way/2006/03/profiting_from_.html"
    >outlined</a
  >
  the idea of combining your passions to build yourself projects which you will
  enjoy working on. Several of the comments are disputing this idea, so I'd like
  to put in my 2 cents.
</p>

<p>
  <em
    >Disclaimer: If you don't like challenging yourself and the current
    situation, just stop right here.</em
  >
</p>
<p>
  The gist: Doing what you like doesn't have to mean that you'll have to quit
  your (currently) boring job, or investing money on an idea in your spare time.
  Instead, mold your current job into something interesting with creativity
  (which <em>can</em> be stimulated) and tenacity.
</p>
<p>Where to start?</p>
<h3>Stimulating creativity</h3>
<p>
  Everyone has got a modicum of creativity, but how do you fuel the spark? When
  do you feel most creative? I find inspirational things to be very effective,
  specially when they are from my own profession. For example, looking at
  drawings by Leonardo da Vinci (<em>Update: sorry, the link is dead</em>) or
  reading some good article on software development (<em
    >Update: sorry, the link is dead</em
  >). But my inspiration is not your inspiration, so where can you find this
  stuff? Some relatively new web sites provide all the material anyone could
  ever have hoped for: The "best of" lists of del.icio.us (<em
    >Update: sorry, the link is dead</em
  >), <a href="https://digg.com/">Digg</a>, and
  <a href="https://www.reddit.com/">reddit</a>. All of these provide you with
  what's popular <em>right now</em> on the web, ranked by users like yourself.
  These are not in any way the only sites providing this kind of stuff, but
  they're the ones I can vouch for.
</p>
<h3>Tenacity</h3>
<p>
  Whatever you're doing, there are always ways to do it better. I'll bet your
  boss also thinks the same, and that s/he'd like to hear from you if you have
  an idea for how to improve something. But most of the time, benefits have to
  be significant or obvious to be able to change habits or established routines.
  So if you get an idea, I'll advice handling it like this:
</p>
<ol>
  <li>
    Write it down, in such a way that you're sure to understand what you meant a
    week later or so (I've gone "Huh?" way too often when reviewing old ideas).
    You'll be better suited to evaluate the idea when you've distanced yourself
    from the "Eureka!" moment.
  </li>
  <li>
    If you can, try it out. If not, try searching for experience from other
    people. Unless your idea is truly revolutionary, somebody else has probably
    tried something similar, and most people are more helpful on the Internet
    than could be expected from complete strangers.
  </li>
  <li>
    If it works, try to collect some <em>numeric</em> evidence. It'll be your
    best friend when showing your idea to your boss. People rarely dispute
    numeric evidence unless they have a really good reason for it.
  </li>
  <li>
    Present the idea to your boss and / or colleagues, perhaps at the weekly
    meeting. Include common reasons <em>not</em> to use it - There is no such
    thing as a free lunch. That way you can avoid some tough questions right
    before the decision will be made. You'll probably also appear more serious
    with a balanced view.
  </li>
  <li>
    Don't despair if the idea was not approved. Maybe the time was just not
    right. Keep it stored somewhere you'll be able to find it again, and be sure
    to include the reason(s) it was not approved.
  </li>
  <li>Repeat as necessary</li>
  <li>Enjoy!</li>
</ol>
<h3>Creativity tools</h3>
<p>
  These are the tools I use every day, and not just for creativity: They also
  provide work savings and entertainment. And they are all free!
</p>
<p>
  A <strong>feed aggregator</strong>, e.g. Bloglines (<em
    >Update: sorry, the link is dead</em
  >). Using it with del.icio.us, Digg, reddit, and others, it saves me a lot of
  time.
</p>
<p>
  A <strong>revision control</strong> system. With revision control, you can
  keep all your documents (ideas and other) in the same place, you can keep
  track of changes, and you can be quite sure that you'll never despair because
  your harddisk crashed. I've got just about every file I've created the last
  five years in such a system, and it's a great load off my mind. Revision
  control has got a pretty steep learning curve, but a
  <a href="https://ericsink.com/scm/source_control.html">tutorial</a>
  should get you on the right track. If there's an IT department where you work,
  there's a fair chance they have a revision control system readily available.
  That way, you'll save a lot of initial work. If you're using Windows and
  <abbr title="Concurrent Versions System">CVS</abbr> or Subversion, I highly
  recommend using
  <a href="https://tortoisecvs.sourceforge.net/">TortoiseCVS</a> or TortoiseSVN
  (<em>Update: sorry, the link is dead</em>), respectively. If you're using
  TortoiseCVS, <a href="https://winmerge.org/">WinMerge</a> is a natural
  companion.
</p>
