---
title: "Re: KittenAuth Test"
categories:
  - accessibility
  - web design
  - web development
tags: []
author: Victor Engmark
---

<p>
  The KittenAuth Test (<em>Update: sorry, the link is dead</em>), a
  <em>very</em> cute and brilliant
  <a
    title='Wikipedia article on "Turing test"'
    href="https://en.wikipedia.org/wiki/Turing_test"
    >Turing test</a
  >
  which could possibly replace
  <a
    title='Wikipedia article on "CAPTCHA"'
    href="https://en.wikipedia.org/wiki/Captcha"
    ><abbr
      title="completely automated public Turing test to tell computers and humans apart"
      >CAPTCHA</abbr
    ></a
  >, deserves attention for two reasons: It is much more user friendly than
  CAPTCHAs, and it can easily be extended with a textual variant, for anyone
  using a non-graphical browser.
</p>

<p>
  Consider the textual equivalent to the KittenAuth Test: Click on three of the
  sentences / words which exhibit some property that machines cannot understand
  without massive manual learning. The text could simply be put as the images'
  <code>alt</code> text, and hey presto! An accessible Turing test!
</p>
<p>
  Which language properties could you use? "Hard" words, for example. Which ones
  of these would you consider "hard"?
</p>
<ul>
  <li>Kitten</li>
  <li>Hammer</li>
  <li>Stool</li>
  <li>Wall</li>
  <li>Synonym</li>
  <li>Paper</li>
  <li>Ice</li>
  <li>Fantastic</li>
  <li>Sugar</li>
</ul>
<p>
  "Hammer", "Wall", and "Ice", right? So all you'll need to do as a programmer
  is make two lists for each property you'd like to use, and sprinkle the
  pictures with alt texts from the lists. Naturally, the best place to put the
  "good" words would be at the same place as the kittens. Then just add a new
  (CSS hidden) heading to the KittenAuth "gallery" with something like this: "If
  you cannot see the kittens, please click on three "$property" words instead".
  Accessible in a flash...
</p>
<p>
  Update 2006-04-19: Of course, for this to work every user will need a
  separate, large collection of words tagged with their meanings or categories.
  In the case of brute-forcing bots, this may be prohibitive. A follow-up post
  will take up a couple other suggestions.
</p>
