---
title: Email client reviews
categories:
  - bugs
  - email
  - software
tags: []
author: Victor Engmark
---

<p>
  Considering the age of email as a technology, and the plethora of clients
  available, the situation is <em>tragic</em>. Here is a line-up of the clients
  I've used the last few years, and the reason I stopped using each and every
  one of them. Some simplifications are made, such as in the use of words like
  "cannot". Yes, there are often hacks to circumvent the limitations. No, I
  won't go into why using a closed source, 4 year old, unmaintained, 3rd party
  plugin is a bad idea.
</p>

<h3>Outlook</h3>
<p>
  CERN uses Exchange, so Windows desktops come with Outlook 2003 installed per
  default. I'm an open source enthusiast, but at first I thought it was a good
  idea to use what my colleagues used (and continue to use).
</p>
<p>Pros:</p>
<ul>
  <li>Fast, probably because of close integration with the server</li>
  <li>
    Saves message settings (such as flags) on the server, so I can set a TODO
    for when I get home or reinstall
  </li>
  <li>User friendly wizard for filter rules</li>
  <li>
    Integrated (CERN only) plugin to report spam and control spam settings
  </li>
  <li>Working, simple predefined search folders</li>
  <li>Good LDAP integration in right click menu</li>
</ul>
<p>Cons:</p>
<ul>
  <li>
    32 KB (<em>Update: sorry, the link is dead</em>) to store filter rules is
    not enough!
  </li>
  <li>Resets the reading pane settings for some folders willy-nilly</li>
  <li>
    Cannot
    <a
      href="https://en.wikipedia.org/wiki/Bounce_message"
      title='Explanation of a "bounce message"'
      >bounce</a
    >
    messages
  </li>
  <li>
    Not enough configurable (show headers, color encoding of fields / replies,
    etc.)
  </li>
  <li>
    Cannot export settings to human readable file (I want to keep it in CVS)
  </li>
  <li>Flags cannot be assigned names or meanings</li>
  <li>
    Flags are not the same as in Thunderbird or Mutt, and are thus only visible
    in Outlook
  </li>
  <li>Closed source</li>
  <li>Cannot use regular expressions in searches / filters</li>
  <li>Difficult to copy email addresses</li>
  <li>Bad thread display support</li>
</ul>
<p>
  Verdict:<br />
  Works for the most part, but is not "techie" enough. I want the open source
  geek edition!
</p>
<h3>Thunderbird</h3>
<p>
  This seems to be the most popular email client for open source enthusiasts.
  I've tried just about every version since 0.8 or 0.9, and the following points
  are from 1.5.0.4.
</p>
<p>Pros:</p>
<ul>
  <li>Open source</li>
  <li>Very configurable</li>
  <li>Lots of useful extensions</li>
  <li>Mostly plain text profile - Can be stored in CVS</li>
  <li>Single click to mark as read / unread / junk / not junk</li>
  <li>Meaningful labels</li>
  <li>Supports standard flagging mechanism (same as Mutt)</li>
  <li>Easy copying of email address</li>
  <li>Good thread display support</li>
</ul>
<p>Cons:</p>
<ul>
  <li>Bad default training on the spam filter</li>
  <li>
    Junk mail filtering can "self-destruct" without telling the user - Empties
    the training file and never starts learning any more
  </li>
  <li>No visual representation of flagging</li>
  <li>Doesn't react to changes in flagging by other applications (Mutt)</li>
  <li>Sometimes crashes or hangs on startup</li>
  <li>Mail filters often break - Client crashes when they are applied</li>
</ul>
<p>
  Verdict:<br />
  This is not version 1.5. This is 0.9 alpha.
</p>
<h3>Mutt</h3>
<p>
  I learned to use this textual email client when working for
  <a href="https://www.ntnu.no/adm/it/brukerstotte">Orakeltjenesten</a>. I could
  see why the other techies loved it - Stable and geekily configurable.
</p>
<p>Pros:</p>
<ul>
  <li>
    Extremely configurable! Examples:
    <ul>
      <li>Set Reply-to based on To / Cc</li>
      <li>Include other config files</li>
      <li>Redefine key bindings</li>
      <li>Create new key bindings</li>
      <li>
        Wanna backup to backup@gmail.com and purge all non-flagged mail older
        than two weeks with <kbd>CTRL-o</kbd>? Add<br />
        <pre>
macro index \Co "&lt;tag-pattern&gt;~r&gt;2w!~F\n&lt;bounce-message&gt;backup@gmail.com"</pre
        >
        <br />
        , and just hit <kbd>d</kbd> when it's done.
      </li>
    </ul>
  </li>
  <li>Simple and clutter-less interface - This is the iPod of email clients</li>
  <li>Human readable configuration and address book files</li>
  <li>Stable as lead</li>
  <li>Color coding available for everything</li>
  <li>Very good thread support</li>
  <li>
    <pre>
send-hook . my_hdr X-message-flag: Outlook is bad for you, use Mutt</pre
    >
    - A classic
  </li>
  <li>Open source</li>
</ul>
<p>Cons:</p>
<ul>
  <li>Doesn't cache emails</li>
  <li>*nix only - Windows clients are no longer maintained</li>
  <li>No sophisticated flagging - Only boolean</li>
  <li>Doesn't do filtering - Nnnuuuuuuuh!</li>
</ul>
<p>
  Verdict:<br />
  With filtering and some user friendly front-end, this would be the mail client
  of the century.
</p>
<h3>Gmail</h3>
<p>Pros:</p>
<ul>
  <li>Fast search</li>
  <li>Only browser needed</li>
  <li>Settings online</li>
  <li>Stable</li>
  <li>Fast</li>
  <li>Good spam filtering</li>
  <li>Flexible labels</li>
</ul>
<p>Cons:</p>
<ul>
  <li>Simplistic filtering</li>
  <li>Closed source</li>
  <li>Page length limit of 100</li>
  <li>
    <a href="https://support.google.com/mail/answer/6579?topic=1539"
      >Max 20 filter rules</a
    >
  </li>
  <li>Cannot backup settings or mail</li>
  <li>No warranty</li>
  <li>No extensions</li>
</ul>
<p>
  Verdict:<br />
  Not enough configurable, and too bad filtering.
</p>
