---
title:
  "Defunct hiring process, or: How not to gain trust from potential employees"
categories:
  - personal
  - work
tags: []
author: Victor Engmark
---

<p>
  After turning down a job at a company in Geneva, and discussing the contract,
  employee rules, and interview process with the boss for about an hour, I'd
  like to summarize why I ended up not taking the job.
</p>

<h3>1 year "lock-in"</h3>
<p>
  The last word is in quotes because it's not a contractual lock-in, but a
  practical one. They required me to start by taking a course on the product I'd
  work with. The contract stipulated that
  <em>if I leave the job after less than a year, I have to pay the course</em>.
  Fair enough, but the amount I'd heard during the interview was CHF 20,000
  (&gt;$16,000)*. That's more than I'd be able to pay, and one hell of a big
  chance to take. I like to make informed decisions, so I (subconsciously,
  perhaps) decided to let that one slip only as long as the rest of the process
  and rules could stand some scrutiny.
</p>
<p>
  Oh, and by the way: The contract stated that it was mandatory to pass the
  course to continue the job. It didn't say whether I'd have to pay the course
  if I didn't pass it. When I pressed on this point in the interview, they just
  said nobody had failed yet, and never said straight out that I wouldn't have
  to pay the course in case I failed.
</p>
<p>
  *This turned out to be wrong. CHF 20,000 was the ordinary price, while the
  company only had to pay about less than half of that. However, the correct
  price was stated in neither the interview nor the contract.
</p>
<h3>No initiation period before the course</h3>
<p>
  During the first interview, they told me they might be able to get me an
  initiation period of a few days at a client, to see how the job is done.
  Sadly, the client didn't approve it. In combination with the previous issue,
  this is the main reason I didn't take the job. Apparently, they couldn't
  postpone the course so I could get a look into the business, and so I was
  stuck with no experience on which to base my decision.
</p>
<h3>No tests of language / IT skills</h3>
<p>
  The job requires someone with IT skills, and a good level of two specific
  languages in addition to English. I know IT and the relevant languages, and I
  told them so. But they never tested me. Why? They said <q>We trust you</q>,
  and <q>If we're wrong, it's our fault, and our problem</q>. They had spoken to
  one of my university professors and me, and figured that was good enough. But
  what does that tell me? I've read a bit about how Google does interviews, and
  how
  <a href="https://www.joelonsoftware.com/" title='"Joel on Software" blog'
    >Joel Spolsky</a
  >
  would like people to do them, and no tests tells me the job requires no
  brains. Excel number punching, form filling, that kind of stuff. Trust goes
  both ways, and they need to <em>show me</em> they want qualified people. Of
  course, the person doing the interview said it's not a walk in the park, but
  then we get full circle: Why don't they test people if the work is
  challenging?
</p>
<h3>Contract / employee rules which don't reflect the intention</h3>
<p>
  One part of their contract could be translated as follows:
  <q
    >The employee is responsible for company equipment s/he uses. If the
    equipment deteriorates, the employee must replace it with a new piece of the
    same equipment.</q
  >
  The last part says nothing about liability in the case of forces outside of my
  control, and doesn't mention any insurance. The interviewer said that's
  because they want people to take proper care of the equipment, but why is it
  then formulated like that? Why not write something like this:
  <q
    >If equipment deteriorates because of irresponsible behavior by the
    employee, <em>&c</em></q
  >
  After dealing with a few contracts and bad bosses, I always assume the worst.
</p>
<h3>No answer to emails</h3>
<p>
  I sent a couple emails with questions about the job, and never got an answer.
  However, afterwards I received a request from the same person to take my CV
  off of <a href="https://www.jobup.ch/">JobUP</a>. I complied, and confirmed by
  email, asking once again to please answer my questions. I never got a reply.
  That is really a unique situation. I don't think I've ever encountered a
  person which would completely ignore a request for information (much less
  twice), and it left me assuming the worst - I.e., that they don't care.
</p>
<h3>But is it really all that bad?</h3>
<p>
  Maybe not. The people certainly seemed nice enough. Maybe all my doubts were
  unfounded. I'll never find out. But I'd rather be without a job for a few
  months, than take a job that I might regret for a year. And I'll always prefer
  an informed decision to an optimistic one.
</p>
<p>
  PS: I got invited to an interview in another company not five minutes after I
  got back from the meeting. :)
</p>
