---
title: "Reader's diggest: 2001, 2010, 2061 and 3001 by Arthur C. Clarke"
categories:
  - book
  - science fiction
tags: []
author: Victor Engmark
---

<p>
  2001: Aliens have left a monolith to monitor and help mankind's evolution
  towards intelligence.
</p>

<p>
  2010: A second monolith transforms Jupiter into a mini-sun to help creatures
  on Europa in the same way.
</p>
<p>
  2061: A third monolith on Europa is controlled to some extent by Dave / HAL.
</p>
<p>
  3001: A resurrected member of the 2001 crew destroys the monoliths with a
  computer virus.
</p>
