---
title: TED.com bloat
categories:
  - software
  - usability
  - web design
  - web development
  - website
tags: []
author: Victor Engmark
---

<p>
  If you're a
  <a href="https://www.ted.com/"
    ><abbr title="Technology, Entertainment, Design">TED</abbr>.com</a
  >
  user, I'm pretty sure you've noticed the slow page loads compared to ... Well,
  just about any other site out there. I've sent some
  <a href="https://help.ted.com/hc/en-us/requests/new">feedback</a> (below), and
  I'm hoping you'll help out as well by suggesting general and specific
  improvements.
</p>

<blockquote>
  <p>Hello,</p>
  <p>
    While your web site is some of the best content collections I've ever come
    across, the style sheets / scripts are so huge as to require the full
    attention of a Pentium IV 3 GHz CPU for several seconds for every page
    displayed. 122 KB of CSS and 259 KB of JavaScript is massive, even today.
  </p>
  <p>
    As a first fix, I'd suggest to use some of the online tools to compress CSS
    and JavaScript. Also, with 8 years of web development behind me (3
    professionally), I'm confident that you can reduce the amount an order of
    magnitude without losing the overall look and feel of the site.
  </p>
  <p>Thank you for your time and magnificent content!</p>
</blockquote>
<p>PS: I've asked for feedback, and I'll post it here if I receive any.</p>
