---
title: Properly formatting &lt;del&gt; and &lt;ins&gt;
categories:
  - web design
tags: []
author: Victor Engmark
---

<p>
  Here are some alternative ways to format &lt;del&gt; and &lt;ins&gt;, with
  explanations. I'd love to hear your own improvements.
</p>

<p>
  The most straightforward solution is just using a
  <strong>space character between the elements</strong>:<br />
  <del>Speling</del> <ins>Spelling</ins> is hard.
</p>
<p>
  However, this is <strong>not semantically correct</strong>, since the space
  inside is not part of the text.
</p>
<p>
  You could insert a space character using CSS (<code
    >del + ins:before {content: ' ';}</code
  >):<br />
  <span><del>Speling</del><ins> Spelling</ins> is hard.</span>
</p>
<p>
  Now the markup is semantically correct, but the content shown to the user is
  worse: <strong>Both display and semantics are wrong</strong>.
</p>
<p>
  <span
    >Inserting a margin between the elements should do the trick (<code
      >del + ins {margin-left: 0.3em;}</code
    >):</span
  ><br />
  <del>Speling</del><ins>Spelling</ins> is hard.
</p>
<p>
  This should be semantically correct, but the width of the space character can
  depend on the browser implementation and the font, so make sure you check the
  results.
</p>
