---
title: How to serve vCards with the right encoding
categories:
  - encoding
  - vCards
tags: []
author: Victor Engmark
---

<p>
  It seems that some programs which recognize
  <a href="https://en.wikipedia.org/wiki/VCard">vCards</a> only support the
  ISO-8859-1 character set. So if you're serving vCards on your web site, you
  might want to check if the encoding is correct. Try inserting a non-<abbr
    title="American Standard Code for Information Interchange"
    >ASCII</abbr
  >
  character like "å" in a note or address, and see if it comes out as a strange
  character when loading it from the web site.
</p>

<p>
  To fix this, first make sure that your editor uses the correct encoding. Open
  the file, change the encoding, save the file, re-open it and correct the
  contents if the characters were messed up after saving (not all editors change
  characters correctly).
</p>
<p>
  You might also have to override the server's default encoding. If you're using
  Apache 2, just add the following to the .htaccess file at the root of the web
  site:<br />
  <del
    ><code style="padding-left: 0; padding-right: 0"
      ><a href="https://httpd.apache.org/docs/2.0/mod/mod_mime.html#addcharset"
        >AddCharset</a
      >
      ISO-8859-1 .vcf<br />
      <a href="https://httpd.apache.org/docs/2.0/mod/mod_mime.html#addencoding"
        >AddEncoding</a
      >
      text/x-vcard .vcf</code
    ></del
  >
</p>
<p>
  Turns out that didn't work so well (I didn't find out until i did a
  shift-reload). I had to turn to this one instead:
</p>
<pre>
&lt;Files *.vcf&gt;
ForceType 'text/x-vcard; charset=ISO-8859-1'
&lt;/Files&gt;</pre
>
