---
title: vCard 3.0 validator and parser
categories:
  - open source
  - Python
  - software
  - vCards
tags:
  - CLI
  - command line
  - parser
  - validator
  - vCard
  - vCard 3.0
author: Victor Engmark
---

<p>
  Did you know that even the vCards listed in
  <a
    href="https://www.rfc-editor.org/rfc/rfc2426"
    title="RFC 2426 - vCard MIME Directory Profile"
    >the official <abbr title="Request for Comments">RFC</abbr></a
  >
  are not valid? It clearly says
  <a href="https://www.rfc-editor.org/rfc/rfc2426#section-1"
    ><q>The vCard object MUST contain the FN, N and VERSION types.</q></a
  >
  Still, the
  <a href="https://www.rfc-editor.org/rfc/rfc2426#section-7">example vCards</a>
  are both clearly missing the N type. As somebody else remarked, releasing a
  format spec without some reference validator is bound to result in all sorts
  of invalid implementations.
</p>

<p>
  After
  <a href="https://www.google.com/search?q=vcard+validator">searching</a> for a
  vCard validator without success, I've therefore started my own
  <strong><a href="https://gitlab.com/engmark/vcard">vCard module</a></strong>
  in Python. It tries to create an object with all the information from a vCard
  string, and returns what I hope are useful error and warning messages if
  there's anything wrong.
</p>
<p>
  <strong>Update:</strong> Added file validation - Now you can validate files
  with several vCards from the command line.
</p>
<p>
  Install / upgrade:<br />
  <code>sudo pip install --upgrade vcard</code>
</p>
<p>
  Validate vCard files:<br />
  <code>vcard *.vcf</code>
</p>
