---
title: Add namespace prefix to XML tags in Vim
categories:
  - regex
  - Vim
tags: []
author: Victor Engmark
---

<p>
  It's not perfect, but it works with tags that contain just a-z and dashes (the
  <code>\([a-z-]*\)</code> part):
</p>
<pre>
:%s/&lt;\(\/\?\)\([a-z-]*\)\(\s\|&gt;\)/&lt;\1<strong>namespace</strong>:\2\3/gc</pre
>
