---
title: Drakensang on Ubuntu 10.04
categories:
  - Ubuntu
tags:
  - Drakensang
  - game
  - howto
  - RPG
  - Wine
author: Victor Engmark
---

<p>
  Goal: Run Drakensang Gold Edition (AFAIK, version 1.2) German on Ubuntu 10.04
  with 5.1 surround sound and nice graphics. As always, YMMV and RTFM apply.
</p>

<p>Howto:</p>
<ol>
  <li>
    Install <a href="https://www.winehq.org/">Wine</a>:
    <code>sudo apt-get install wine</code>
  </li>
  <li>
    Run setup: <code>wine /media/cdrom0/setup.exe</code> (could be in a
    different CD-ROM on your system)
  </li>
  <li>
    Click through the installation wizard without changing anything. The DirectX
    installation could take a <em>long</em> time.
  </li>
  <li>
    Get <a href="https://wiki.winehq.org/Winetricks">winetricks</a>:
    <code>wget http://www.kegel.com/wine/winetricks</code>
  </li>
  <li>
    Install some Windows stuff:
    <code>sh winetricks d3dx9 vcrun2003 xact</code> (I'm not sure if vcrun2003
    is really necessary)
  </li>
  <li>Run <code>winecfg</code></li>
  <li>
    Under the <em>Graphics</em> tab, enable
    <code>Emulate a virtual desktop</code>
  </li>
  <li>
    Under the <em>Audio</em> tab, Set
    <em>DirectSound Hardware Acceleration</em> to <strong>Emulation</strong>.
  </li>
  <li>
    Start the game:
    <code
      >wine ~/.wine/drive_c/Program\ Files/Drakensang/drakensang.exe -fullscreen
      -novideo</code
    >
  </li>
</ol>
<p>
  Based on
  <a
    href="https://appdb.winehq.org/objectManager.php?sClass=application&iId=7950"
    >WineHQ instructions</a
  >, some dead ends and lots of swearing.
</p>
