---
title: Minecraft mine analysis - mian
categories:
  - games
  - open source
  - software
tags:
  - GUI
  - Minecraft
  - Python
  - script
author: Victor Engmark
---

<p>
  The <a href="https://github.com/l0b0/mian/wiki">mian wiki</a> is now up!
  Updates will be put there for your convenience.
</p>

<p>
  Pepijn de Vos has made a
  <a href="https://pepijndevos.nl/where-to-dig-in-minecraft/"
    >tool to graph materials in Minecraft save games</a
  >
  across heights, to see how deep one should mine to find for example diamond.
  As a <del>propaganda minister</del> Minecraft player with too much time on his
  hands, this was too cool. I just tweaked it a bit, we both contributed speed
  improvements, and now it looks like this:
</p>
<p>
  <img
    src="/assets/images/mian6.png"
    alt="Graph of block count for several materials across the height of the world"
    title="mian"
    width="497"
    height="400"
  />
</p>
<p>
  On Ubuntu, you can install it with the following command:<br />
  <code>sudo apt-get install python-matplotlib && sudo easy_install mian</code
  ><br />
  ... and run it like this:<br />
  <code>mian ~/.minecraft/saves/World1</code>
</p>
<p>
  Options include:<br />
  <code>-b, --blocks</code> - Specify block types to include as a
  comma-separated list, using either the block types or hex values from the
  list.<br />
  <code>-l, --list</code> - List available block types.<br />
  <code>-n, --nether</code> - Show Nether data instead of the normal world.
</p>
<p>
  For example, run
  <code>mian -b 01,dirt,09,sand ~/.minecraft/saves/World1</code> to get a map of
  the more common elements in the map, with the abrupt cutoff of stationary
  water showing the sea height:
</p>
<p>
  <img
    src="/assets/images/mian5.png"
    alt="Common materials in Minecraft"
    title="mian"
    width="497"
    height="400"
  />
</p>
<p>
  More information is available in the form of a
  <a href="https://github.com/l0b0/mian">Git repository</a> (of course it's open
  source) and Ohloh project (<em>Update: sorry, the link is dead</em>).
</p>
<p>
  <strong>Update</strong>: Now works with <em>The Nether</em>, included in
  today's Halloween Update. To graph The Nether, make sure you visit it first,
  update mian with <code>sudo easy_install -U mian</code>, then add the
  parameter <code>-n</code> to your command. For example
  <code>mian -b 56,57,58,59,5a,5b -n ~/.minecraft/saves/World1</code> to show
  all the new materials:
</p>
<p>
  <img
    src="/assets/images/nether.png"
    alt="Graph of the new materials in an existing world"
    title="nether"
    width="497"
    height="400"
  />
</p>
<p>
  <strong>Beta update</strong>: <code>mian 0.6</code> works fine with Minecraft
  Beta. If you have an older version, simply run
  <code>sudo easy_install -U mian</code>
</p>
