---
title: Tag cloud shell script
categories:
  - shell
  - tag cloud
tags:
  - bash
  - generator
  - tag clouds
  - tags
  - text
  - word clouds
  - words
author: Victor Engmark
---

<p>
  As an interesting challenge, I wanted to output a tag cloud (aka. word cloud)
  for a text file using standard shell tools. The result is surprisingly fast (2
  minutes to create the tag cloud for War and Peace (<em
    >Update: sorry, the link is dead</em
  >))<del
    >, and surprisingly short: As you can see, less than 10 lines doing anything
    more complex than echo</del
  >. The latest version is much more flexible, but the main work is still just
  some 20 lines (<code>tr -s …</code> and below), and it's still fast.
</p>

<p>
  If you do anything more fancy with this, I'd be interested to know about it.
  I've got a couple ideas, but I'm not sure if I'll ever get around to them:
</p>
<ul>
  <li>Exclude words from another file</li>
  <li>Multiple word tags from another file</li>
</ul>
<p>
  Example usage:<br />
  <code>txt2cloud.sh &lt; foo.txt &gt; foo.xhtml</code>
</p>
<p>
  Update:
  <a href="https://gitlab.com/engmark/txt2cloud/blob/master/txt2cloud.sh"
    >The code</a
  >
  is now on GitHub. Fork away!
</p>
