---
title: "Office super-tool: pdftk"
categories:
  - open source
  - shell
  - software
tags:
  - PDF
  - pdftk
  - tools
  - work
author: Victor Engmark
---

<p>
  If you scan or print a lot of documents, you have probably used
  <em><abbr title="Portable Document Format">PDF</abbr> files</em>. They are
  very nice, but it can be tricky to modify and otherwise handle them. Enter
  <a href="https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/"
    ><code>pdftk</code></a
  >: great (but small), free (but valuable) and powerful (but simple). It's also
  open source, which means you can learn it now, and use it the same way in
  five, ten, or twenty years.
</p>

<p>
  I was recently sending out 28 <abbr title="temporary">temp</abbr> job
  applications with six attachments each. I printed out the motivation letter
  for each job and 28 copies of each attachment, so I ended up with seven piles
  of paper which I then had to mix by hand to make 28 applications. Tedious
  work, and I could have smacked myself when I realized that it would have been
  much easier to put all the attachments in a single document, and printing that
  28 times: Two piles instead of seven. This is really simple with
  <code>pdftk</code> - Just start up a shell (In Windows: Start → Run →
  <code>cmd</code>, in Ubuntu: Applications → Accessories → Terminal), and
  replace the file names in the following command with your own to produce a new
  file with all the documents in sequence:
</p>
<pre><code>pdftk <em>cv.pdf "reference letter 1.pdf" [and so on]</em> cat output new.pdf</code></pre>
<p>
  <code>cat</code> is the magic word: Con<em>cat</em>enate all the files before
  it. <code>pdftk</code> can also do other useful stuff, like rotating pages (if
  they were scanned the wrong way around), splitting, watermarking, digital
  signatures and much more (see
  <a href="https://www.pdflabs.com/docs/pdftk-cli-examples/">examples</a>).
</p>
