---
title: BASH / Bourne Shell which outputs its own documentation
categories:
  - shell
  - software
tags:
  - bash
  - Bourne Shell
  - documentation
  - snippet
author: Victor Engmark
---

<p>
  I love
  <a href="https://peps.python.org/pep-0257/" title="Docstring Conventions"
    >Python docstrings</a
  >
  - It's a great application of the
  <abbr title="don't repeat yourself">DRY</abbr> principle. The excellent
  Advanced Bash-Scripting Guide has an
  <a href="https://tldp.org/LDP/abs/html/here-docs.html#SELFDOCUMENT"
    >example</a
  >
  which does something similar, but it embeds the documentation in a variable in
  the middle of the code. This makes it less readable and findable than ordinary
  comments, and leads to duplication if you want to have the same documentation
  as a comment for other developers. Here's a very simple solution, which I'm
  sure can be improved to fit your documentation style. It simply prints all
  non-empty lines from the start of the file:
</p>

<!-- prettier-ignore -->
<div>
{% highlight shell %}
usage()
{
    # Print documentation until the first empty line
    while read line
    do
        if [ ! "$line" ]
        then
            exit 64
        fi
        echo "$line"
    done < $0
}
{% endhighlight %}
</div>
<p>
  A bit of detail: The exit code is from /usr/include/sysexits.h on Linux, which
  seems to be the standard, and <code>&lt; $0</code> passes the contents of the
  current file to the while loop.
</p>
