---
title: Wireless setup of HP printer on Ubuntu
categories:
  - Ubuntu
tags: []
author: Victor Engmark
---

<p>It's ridiculously simple:</p>

<ol>
  <li>Connect USB cable</li>
  <li><code>sudo apt-get install hplip-gui</code></li>
  <li><code>hp-wificonfig</code></li>
  <li>Select network, insert password if necessary</li>
  <li>Disconnect USB cable</li>
</ol>
<p>
  At this point you can connect to your printer via wireless. You may need to
  set it up separately using <code>hp-setup</code> or System → Administration →
  Printing. In the latter you can rename or remove the USB connection to avoid
  confusion with the wireless configuration.
</p>
