---
title: Never Let Me Go
categories:
  - review
tags:
  - cloning
  - movie
  - Never Let Me Go
  - review
author: Victor Engmark
---

<p>
  <a href="https://www.imdb.com/title/tt1334260/">Never Let Me Go</a>: Cloning
  is <em>biologically equivalent to having an identical twin</em>. Now can we
  <em>please</em> find another literary device for some plausible antagonists?
</p>
