---
title: Unexplained line item from Lebara Switzerland
categories:
  - money
  - Switzerland
tags: []
author: Victor Engmark
---

<p>
  These line items showed up recently on my Lebara Switzerland account page (<em
    >Update: sorry, the link is dead</em
  >):
</p>

<table>
  <tr>
    <td>03-08-2011 00:04</td>
    <td>Premium SMS received from 001111100000 UK</td>
    <td>00:00:00</td>
    <td>-4.90</td>
  </tr>
  <tr>
    <td>02-07-2011 00:04</td>
    <td>Premium SMS received from 001111100000 UK</td>
    <td>00:00:00</td>
    <td>-4.90</td>
  </tr>
</table>
<p>
  I've asked Lebara Switzerland about it twice, but they've ignored the requests
  so far. Any idea what to do about this?
</p>
