---
title: I'm severely disappointed in Unity
categories:
  - bugs
  - Ubuntu
  - usability
tags: []
author: Victor Engmark
---

<p>Let's count the ways:</p>

<ul>
  <li>
    Maximizing windows when moving them might be neat, but why not get rid of
    the button then and use the screen real estate for something useful?
  </li>
  <li>
    Apple wrote the book on usability, but they screwed up when they skipped
    their own advice and put the minimize, maximize and close buttons right next
    to each other. That's fine if closing an app doesn't actually close the
    program, but in GNOME it makes absolutely no sense.
  </li>
  <li>
    I just added my Minecraft shortcut to the side bar thingie, but some minutes
    later something went belly-up and not even a Java process was started when
    clicking on it. After a restart the shortcut was gone from the side bar.
  </li>
  <li>
    Keyboard layouts have driven me crazy the last couple days. I can't type
    "programmer quotes" (actually, single and double tick) without, for some
    reason, clicking the
    <a href="https://help.ubuntu.com/community/ComposeKey">compose key</a> once.
    After that it continues working, and it didn't seem to realize that I had
    pressed the compose key at all.
  </li>
  <li>
    Where did my freaking weather reports go? Did nobody else use that? There's
    not even an option for it anymore.
  </li>
  <li>
    <a
      href="https://secure.wikimedia.org/wikipedia/en/wiki/Mystery_meat_navigation"
      >Mystery meat navigation</a
    >
    was never fun - Why would a sane person want to hide the main menu of each
    application?
  </li>
  <li>
    Grouping applications by function was one of the best things about leaving
    Windows for Ubuntu 8.04.
  </li>
</ul>
<p>
  Fortunately Ubuntu Classic is still available in the login menu. Yay for real
  backward compatibility!
</p>
