---
title: Spyware in Ubuntu!
categories:
  - open source
  - spyware
  - Ubuntu
tags:
  - Unity
author: Victor Engmark
---

<p>
  Although Richard Stallman's tone is often too confrontational and absolute,
  this time it's rather shocking
  <a href="https://www.phoronix.com/news/MTI0NTY">news</a>:
  <a href="https://www.fsf.org/blogs/rms/ubuntu-spyware-what-to-do"
    >According to him</a
  >, in some versions of Ubuntu, any file searches you do are sent to Canonical,
  and from there to Amazon, to customize ads (like Google does with email). The
  details are few, such as which search interface we're talking about, which
  versions of Ubuntu are affected, and how to actually turn this off (I looked
  in what I thought were likely places in the System Settings app of Ubuntu
  12.04.1 LTS without any luck), but if this has actually reached mainline
  releases it's bye, bye Ubuntu! Sending user information to somewhere which
  doesn't provide a service which that user has requested is wrong, and sending
  it to a third party is just despicable.
</p>

<p>
  I'm a long-time Ubuntu user and software developer, and I'd never heard of
  this - If I thought about the Ubuntu Software Center ads at all, it was as a
  nuisance which I could easily get around by using the web to find software I
  need.
</p>
<p>
  <del
    >I'm hoping to see more clear information about this soon, but the only
    other link in the Phoronix article is down at the moment.</del
  >
</p>
<p>
  Canonical's Jono Bacon has a response (<em>Update: sorry, the link is dead</em
  >) which skips the actual issue completely: We should continue to cooperate
  with the Free Software Foundation, we're doing great work with free software,
  and so on. But as you can see from the response there's no mention of the
  possibility of asking the user if they want to opt in to this.
  <strong
    >At the absolute very least, users should not be helping third parties to
    serve more efficient ads unless they have knowingly agreed to it.</strong
  >
  This kind of software should not even be installed by default, in case it is
  "accidentally" activated. But since everybody knows that nobody reads EULAs,
  and Canonical obviously wants the money, I sincerely doubt this is going to
  get fixed.
</p>
