---
title: "Review: Liars and Outliers by Bruce Schneier"
categories:
  - business
  - communication
  - economics
  - future
  - history
  - politics
  - security
tags:
  - Bruce Schneier
  - Liars and Outliers
  - review
author: Victor Engmark
---

<p>
  tl;dr An enormously important book about understanding and optimizing security
  in the 21st century.
</p>

<p>
  <a
    href="https://en.wikipedia.org/wiki/On_the_Internet,_nobody_knows_you%27re_a_dog"
    >On the Internet, nobody knows you're a dog.</a
  >
  I don't know Bruce Schneier, and he certainly doesn't know me. Even so, when
  he announced a
  <a
    href="https://www.schneier.com/blog/archives/2012/08/liars_and_outli_10.html"
    >heavily discounted signed edition of Liars and Outliers</a
  >
  he was effectively testing the main hypothesis of the book: That
  <em
    >in any society it is reasonable to uphold a non-zero level of trust even in
    complete strangers</em
  >:
</p>
<ul>
  <li>
    Schneier trusted 100 (or at least many enough to make a net gain) random
    strangers to reciprocate the offer by writing and publishing a review of the
    book.
  </li>
  <li>
    100 random people trusted him to sign copies of the book and send it to the
    correct addresses upon receipt of the money.
  </li>
  <li>
    All 101 of us trusted essentially the rest of the human race not to
    interfere in the transaction, even when interference could mean easy money
    with virtually no chance of retribution.
  </li>
</ul>
<p>
  Schneier goes on to explain, with his famous lucidity and reference to much
  contemporary research, why this trust is essential to all human interchange,
  how trustworthiness is highly dependent on the situation and not just the
  person, how a society with 100% conformity is not just a terrible goal but
  literally impossible, the human and artificial pressures to cooperate or not,
  how more severe punishments are often ineffective or even counter-effective,
  and how social and technological evolution is too fast for democracy to
  stabilize the overall level of trust.
</p>
<p>
  [At this point I wanted to double-check the scribbled-down criticisms below,
  but the book is 3,000 km away with a nephew. Please take the following with a
  grain of salt. And now that I've lowered your expectations, let's continue!]
</p>
<p>
  In some very few places I found the wording misleading. For example, the
  iTunes store doesn't allow you to buy music, merely to license it for your
  personal use. As far as I understand from what very little I've read of this,
  when iTunes shuts down, there are many jurisdictions where you would not be
  allowed to download songs which are audibly indistinguishable from what you
  had paid for.
</p>
<p>
  The graphs are generally informative, but sometimes confusing. For example
  (pages 72-73):
</p>
<ul>
  <li>
    Traits/Tendencies and natural defenses are both in the social pressures box,
    while the text says neither is a social pressure.
  </li>
  <li>There's an incentives line and a separate box.</li>
  <li>
    Why are some of the lines double? If they're strong, a thick line would be
    clearer.
  </li>
</ul>
<p>
  One note is terrifying: On average, 7% of terrorists' policy objectives are
  achieved? What method could conceivably be considered more effective than 7%
  for a (usually) tiny group of what is often foreigners? Compare it to normal
  bureaucratic channels, where usually only billionaire citizens or corporations
  have the slightest chance to change policy within a reasonable time.
</p>
<p>
  Conclusion: I wish this had been compulsory reading at high school. With
  entertaining anecdotes, scary implications of human nature, and scientifically
  grounded careful optimism it's the most dangerous book everyone should read.
</p>
<p>
  <a
    href="https://www.schneier.com/blog/archives/2012/08/liars_and_outli_10.html/#comment-184815"
    title="My comment to the Liars and Outliers special discount"
    >Social contract</a
  >
  - Fulfilled!
</p>
