---
title: Regarding finger scan as part of IELTS identity verification
categories:
  - UK
tags:
  - British Council
  - fingerprint
  - rights
  - scanning
author: Victor Engmark
---

<p>Verbatim email to ielts@britishcouncil.ch:</p>

<blockquote>
  <p>Dear British Council,</p>
  <p>
    While going over emails related to my taking of the IELTS test, I came
    across the disturbing news that you are in the process of implementing a
    mandatory scheme of finger scanning for candidates.
  </p>
  <p>
    According to your "IELTS candidate identity verification" page (<em
      >Update: sorry, the link is dead</em
    >) "[T]est centres in these countries will advise candidates before they
    register that finger scanning is in place." I have received no information
    to that effect. Please advise as to whether finger scanning is (or will be)
    mandatory in Switzerland in 2012. If it is (or will be) mandatory, I shall
    on the grounds of basic decency have to refuse to take the test with your
    organization.
  </p>
  <p>
    Sincerely,<br />
    A disappointed customer
  </p>
</blockquote>
<p>Got a reply the next morning:</p>
<blockquote>
  <p>Dear Mr. Engmark,</p>
  <p>
    Thank you for sharing your concerns with us. New security measures (finger
    scanning and / or photography taken on the day) are in place in all the
    IELTS exam centres to deter candidates who ask somebody else to take the
    exam for them, hoping to get a higher score.
  </p>
  <p>
    While we are happy that in Switzerland the number of attempted identity
    frauds has been insignificant, we have to be prepared and act in line with
    the global standards. Therefore we have already introduced the test day
    photography (which means that a photo of each candidate is taken on the day
    of the test, and this photo will be printed on the Test Report Form). We
    have not introduced the finger scanning, and do not have plans to do so.
  </p>
  <p>
    I hope this information will be of help in your decision of taking IELTS
    with the British Council in Switzerland. Please see further details on
    registration and available practice materials on www.britishcouncil.ch.
  </p>
  <p>Thank you again and have a great week ahead!</p>
  <p>
    Best regards,<br />
    [redacted] | Exams Services Manager | British Council Switzerland
  </p>
</blockquote>
<p>And my response:</p>
<blockquote>
  Thank you very much for the quick and informative response; I will attend.<br />
  <br />
  Sincerely,<br />
  A relieved customer
</blockquote>
<p>
  I guess it might have more to do with the country in which the test is done
  than the British Council themselves. Good to know.
</p>
