---
title: Green Man Gaming web site experience
categories:
  - shopping
tags:
  - bugs
  - game
  - Green Man Games
author: Victor Engmark
---

<p>
  I wanted to buy the XCOM Enemy Unknown Pack (<em
    >Update: sorry, the link is dead</em
  >), but this was a major pain:
</p>

<ol>
  <li>
    Checkout and login both result in a HTTP 403 Forbidden error in the latest
    Firefox. Switched to Chromium.
  </li>
  <li>You have to register with the site before being able to buy anything.</li>
  <li>
    After registering, receiving the confirmation email, clicking the
    confirmation email link, logging in, re-adding the game to the basket,
    clicking "Checkout", ignoring their "Rewards" page, filling in the delivery
    address (it's a flipping Steam game!), ignoring their "Trade-in Info" page,
    filling in the payment info, clicking "Make Payment", and waiting for the
    "We are processing your order" page to redirect, I was sent back to the
    front page with no message of any kind. The payment was apparently not
    registered. Fffffffuuuuuu
  </li>
</ol>
<p>At the second try the purchase went through, but damn!</p>
<p>
  And after a bunch of cutting and pasting the game is now active. I can see how
  buying Steam games from third parties is a lot more of a pain than the
  original shop.
</p>
