---
title: last.fm to Spotify migration
categories:
  - entertainment
  - music
  - software
  - web
tags:
  - export
  - import
  - last.fm
  - Spotify
  - tools
  - XSPF
author: Victor Engmark
---

<p>
  When last.fm announced on 2012-12-13 that they were pulling out of Switzerland
  in mid-January, I requested a refund (<em>Update: sorry, the link is dead</em
  >) (<a href="https://webapps.stackexchange.com/q/39248/8469"
    >unsuccessfully</a
  >
  so far) and started looking around for an alternative immediately.
  <a href="https://spotify.com/">Spotify</a> seems to fit the bill nicely, and
  barring any glaring privacy or stability issues it's probably worth a
  threefold price increase.
</p>

<p>
  But how to migrate? last.fm has got XSPF and tab-separated values export
  functionality at /user/&lt;username&gt;/library/loved; great! Except that
  didn't work the first half a dozen times I tried, and
  <a href="https://www.tunemymusic.com/">Ivy</a>, the most promising import
  service, only supports some iTunes format and comma-separated values, so I
  ended up making a tool to
  <a href="https://gitlab.com/engmark/lfmcol2csv"
    >convert lfmCOL.pl XML to CSV</a
  >. Of course, after finishing that I tried last.fm again, and now the XSPF
  export worked, so I created another project to
  <a href="https://gitlab.com/engmark/xspf2csv">convert XSPF to CSV</a>. Nice
  hacking exercise to ensure that it produces parseable CSV even with quotes and
  high-Unicode characters in the input.
</p>
<p>
  Ivy kept telling me I didn't select a track column in the second step, but
  would gladly accept the pasted result from
  <code>xclip -in favorites.csv</code> without even asking about columns. Out of
  1222 last.fm tracks it found 734 (60%) on Spotify, which is not too terrible
  considering the impressive collection of obscure tracks on the former.
</p>
