---
title: Awesomely slim Linux desktop setup
categories:
  - Arch
tags:
  - Arch Linux
  - awesome
  - configuration
  - GNOME Keyring Daemon
  - install
  - installation
  - setup
  - SLiM
  - XScreenSaver
  - xterm
author: Victor Engmark
---

<p>
  Welcome, weary traveler. I sense you have become frustrated with your
  distribution of choice, for incessantly reinventing the wheel, trying to adopt
  all the worst practices of Apple and Microsoft, providing poor documentation
  and/or really supporting only the most basic of setups. Fear not, for there
  are light-weigth, flexible, well-documented no-nonsense alternatives
  available.
</p>

<p>
  A combination of Ubuntu nausea and a harddisk crash gave me the necessary kick
  in the ass to set up <a href="https://www.archlinux.org/">Arch Linux</a>,
  <a href="https://www.berlios.de/software/slim/">SLiM</a> and
  <a href="https://awesomewm.org/">awesome</a> yesterday. Rather than reiterate
  a bunch of commands and copy-pasteable configuration which would be obsolete
  in an Internet day, I'll point you to the documentation and some resulting
  user configuration:
</p>
<ul>
  <li>
    The
    <a href="https://wiki.archlinux.org/index.php/Installation_Guide"
      >installation guide</a
    >
    looks daunting at first sight, but is actually very straightforward. Follow
    the steps (and the links) and you'll be set up in no time.
  </li>
  <li>
    Use <a href="https://wiki.archlinux.org/index.php/SLiM">SLiM</a> and
    <a href="https://wiki.archlinux.org/index.php/Awesome">awesome WM</a>
    instead of GNOME/Unity.
  </li>
  <li>
    Use <a href="https://wiki.archlinux.org/index.php/Xterm">xterm</a> instead
    of GNOME Terminal.
  </li>
  <li>
    Use
    <a href="https://wiki.archlinux.org/index.php/XScreenSaver">XScreenSaver</a>
    instead of GNOME Screensaver.
  </li>
  <li>
    You can use
    <a
      href="https://wiki.archlinux.org/title/GNOME/Keyring#Launching_gnome-keyring-daemon_outside_desktop_environments_(KDE,_GNOME,_XFCE,_...)"
      >GNOME Keyring Daemon</a
    >
    with a few lines of configuration (below).
  </li>
  <li>
    <a href="https://wiki.archlinux.org/index.php/Multilib"
      >Run 32-bit applications on a 64-bit installation.</a
    >
  </li>
</ul>
<p>
  My current configuration (<em
    >Update: links removed, because I'm no longer using most of these</em
  >):
</p>
<ul>
  <li>GNOME Keyring Daemon, SLiM and XScreenSaver</li>
  <li>awesome</li>
  <li>xterm</li>
</ul>
