---
title: UK technology fail
categories:
  - technology
  - UK
  - usability
tags:
  - services
author: Victor Engmark
---

<p>
  Since moving to the UK after living in Norway, France and Switzerland, it
  seems that this country, more than any other I know of in the Western world,
  is stuck in the 20th century. Here are some examples encountered in the last
  few months:
</p>

<ul>
  <li>
    Many banks support no other authentication than usernames and passwords. No
    one-time pads, SMS codes, smart cards or client certificates, at least one
    of which was supported at all of my other banks. My bank forces you to enter
    your password at the counter, <strong>in front of other customers</strong>.
  </li>
  <li>
    Don't talk to me about Internet banking. Compared to every other bank I've
    used, my UK bank has by far the worst usability. If something fails, it
    doesn't give any hint to what happened, and just sends you to the front
    page. Retrying means finding the same form again and filling in everything.
    It doesn't play nicely with any online shops. It takes several
    <em>days</em> to add every single payment recipient. And its "company
    search" doesn't find big UK companies.
  </li>
  <li>
    Usually three or four buses arrive within two minutes, and then none for 20
    minutes. Sometimes these clumps even have more than one of the same bus
    line.
  </li>
  <li>
    Automated check-outs at supermarkets are sometimes OK: They take cards and
    cash, weigh your items properly, and calculate the sum properly when there's
    a discount. However, <em>none</em> of them do <em>all</em> of these, and
    some of them seem to do <em>none</em> of them.
  </li>
  <li>
    The phone only has a signal when the stars align just right. At home 1-2
    bars, at work 0-1 bars.
  </li>
  <li>
    The roads are too narrow for buses to pass, but there's still parking on
    both sides.
  </li>
  <li>
    I just ordered something online (via bank transfer since the card doesn't
    work for some reason). The confirmation page showed the bank details. The
    confirmation email showed the final sum. Neither showed both.
  </li>
</ul>
<p>
  Sometimes it's so surprisingly backward that it's amusing. Mostly I just
  wonder whether people care about service at all.
</p>
