---
title: Shell scripting dos and don’ts
categories:
  - programming
  - shell
tags:
  - bash
  - tips
author: Victor Engmark
---

<p>Shell scripting is like a room full of power tools: handy but dangerous.</p>

<h2>Don’t:</h2>
<ol>
  <li>
    <strong>Build complex systems.</strong> There are just too many ways that
    external state can affect any piece of shell code. Do you know what your
    script will do if you change <code>IFS</code> before running it?  What if
    you give it a file name starting with a dash or containing a newline? How do
    you recover the state of the system if the script crashed somewhere in the
    middle? Complex shell script environments invariably end up looking like
    Rube Goldberg machines of chainsaws and power drills. Use languages and
    frameworks appropriate for the task.
  </li>
  <li>
    <strong>Expose them to the Internet.</strong> Safe input handling is just
    too damn hard. Unless you’re
    <a href="https://mywiki.wooledge.org/EnglishFrontPage">GreyCat</a> or
    <a href="https://unix.stackexchange.com/users/22565/st%C3%A9phane-chazelas"
      >Stéphane Chazelas</a
    >.
  </li>
  <li>
    <strong>Use <code>eval</code>.</strong> Don’t be evil. There are safer ways
    to do whatever you’re trying to do.
  </li>
  <li>
    <strong>Write portable code.</strong> (By this I mean code which
    <em>works</em> in multiple shells without change, as opposed to code which
    can easily be <em>ported</em> to other shells.) Writing portable code means
    limiting what language features you use <em>and</em> adding complexity to
    make sure it works the same way in all the supported shells. Because of
    this, the end result will be more complex and less flexible than
    <em>the simplest script that supports the shell you have.<br /> </em>
  </li>
  <li>
    <strong>Minimise the number of characters.</strong> The next maintainer will
    hate you.
  </li>
  <li>
    <strong>Create interactive menus.</strong> Very few shell tools like
    <code>less</code> and <code>top</code> only make sense interactively. Use
    command-line arguments instead, so that your tool will be useable both
    standalone and with other tools.
  </li>
</ol>
<h2>Do:</h2>
<ol>
  <li>
    <strong>Test everything automatically.</strong> This gives you and others
    the confidence that your script actually works. Bonus: Allows you to modify
    your code without having to test everything manually. Extra bonus:
    Experiencing how difficult it is to test shell scripts exhaustively will
    convince you to never use them for anything complex.
  </li>
  <li>
    <strong
      >Provide <code>--long-names</code> for every <code>-s</code>
      <code>-h</code> <code>-o</code> <code>-r</code>
      <code>-t</code> option.</strong
    >
    And if you can bear the screams of dogmatic developers, don’t support short
    options at all. As long as the names make sense this allows people to write
    readable scripts. Bonus: No wondering whether <code>-n5f0</code> is two,
    three or four options.
  </li>
  <li>
    <strong>Use guard statements</strong> like the POSIX
    <code>set -o errexit -o noclobber -o nounset</code>. While there are some
    caveats to how these work, they can save a whole lot of headache. Bonus: Use
    <code>-o xtrace</code> to see what the script does in detail.
  </li>
  <li>
    <strong>Add an auto-complete script.</strong> The users will be grateful.
    Bonus: Gives an incentive to keep the structure of your options sane.
  </li>
</ol>
