---
title: Full disk encryption with Arch Linux footnotes
categories:
  - Arch
  - Linux
tags:
  - Arch Linux
  - boot
  - configuration
  - encryption
  - filesystem
  - flag
  - installation
  - LUKS
  - setup
author: Victor Engmark
---

<p>
  Pavel Kogan has an excellent guide to
  <a href="https://www.pavelkogan.com/2014/05/23/luks-full-disk-encryption/"
    >install Arch Linux with full disk encryption</a
  >. I've taken the liberty of copying the instructions, adding a couple tweaks:
</p>

<ol>
  <li>Boot the Arch Linux installation medium.</li>
  <li>
    Run these commands (You may want to use different sizes for swap and root
    volumes):
    <pre><code>parted -s /dev/sda mklabel msdos
parted -s /dev/sda mkpart primary 2048s 100%
parted -s /dev/sda set 1 boot on
cryptsetup luksFormat /dev/sda1
cryptsetup luksOpen /dev/sda1 lvm
pvcreate /dev/mapper/lvm
vgcreate vg /dev/mapper/lvm
lvcreate -L 4G vg -n swap
lvcreate -L 15G vg -n root
lvcreate -l +100%FREE vg -n home
mkswap -L swap /dev/mapper/vg-swap
mkfs.ext4 /dev/mapper/vg-root
mkfs.ext4 /dev/mapper/vg-home
mount /dev/mapper/vg-root /mnt
mkdir /mnt/home
mount /dev/mapper/vg-home /mnt/home</code></pre>
  </li>
  <li>
    Go through the
    <a
      href="https://wiki.archlinux.org/index.php/Installation_guide#Installation"
      >software installation steps of the installation guide</a
    >, skipping the
    <a href="https://wiki.archlinux.org/index.php/Installation_guide#Initramfs"
      >Initramfs</a
    >
    and
    <a
      href="https://wiki.archlinux.org/index.php/Installation_guide#Boot_loader"
      >Boot loader</a
    >
    steps.
  </li>
  <li>Install GRUB: <code>pacman --sync --noconfirm grub</code></li>
  <li>
    In <code>/etc/mkinitcpio.conf</code>:
    <ul>
      <li>
        Change the line starting with <code>FILES=</code> to
        <code>FILES="/crypto_keyfile.bin"</code>
      </li>
      <li>
        On the line starting with <code>HOOKS=</code> add
        <code>lvm2 encrypt</code> just before <code>filesystems</code>.
      </li>
    </ul>
  </li>
  <li>
    Find the UUID of <code>/dev/sda1</code> by running
    <code>basename "$(find -L /dev/disk/by-uuid -samefile /dev/sda1)"</code>
  </li>
  <li>
    In <code>/etc/default/grub</code>:
    <ul>
      <li>
        Change the line starting with <code>GRUB_CMDLINE_LINUX=</code> to
        <code>GRUB_CMDLINE_LINUX="cryptdevice=UUID=[UUID]:lvm"</code>, replacing
        <code>[UUID]</code> with your own.
      </li>
      <li>Add a line with <code>GRUB_ENABLE_CRYPTODISK=y</code></li>
    </ul>
  </li>
  <li>
    Run these commands:
    <pre><code>dd bs=512 count=4 if=/dev/urandom of=/crypto_keyfile.bin
cryptsetup luksAddKey /dev/sda1 /crypto_keyfile.bin
chmod 000 /crypto_keyfile.bin
chmod -R 700 /boot
mkinitcpio -p linux
grub-mkconfig -o /boot/grub/grub.cfg
grub-install --target=i386-pc /dev/sda</code></pre>
  </li>
  <li>If necessary, set up your BIOS to allow booting in CSM mode.</li>
</ol>
<p>
  It also required me to enter the password using a
  <strong>QWERTY keymap.</strong> The instructions to
  <a
    href="https://wiki.archlinux.org/index.php/GRUB/Tips_and_tricks#Manual_configuration_of_core_image_for_early_boot"
    >add an alternative keymap to GRUB</a
  >
  are rather involved, but I'll try to write them up if I go through with it.
</p>
