---
title: Why I'm not working on vCard validators
categories:
  - communication
  - technology
tags:
  - address card
  - development
  - future
  - standard
  - vCard
author: Victor Engmark
---

<p>
  The
  <a href="/vcard-parser-and-validator">vCard 3.0 validator</a>
  is ten years old. The standard has moved on, Python has moved on, and I'd like
  to think I've learned a thing or two as a developer. But I'm not working on
  any vCard validators, and probably won't be for the foreseeable future.
</p>

<p>
  Maybe I'm suffering from
  <a href="https://en.wikipedia.org/wiki/Second-system_effect"
    >second-system syndrome</a
  >, but I've tried to reboot the project at least three times now. The Python
  code isn't very elegant, fast or well tested. I set up skeletons in Java
  version (<em>Update: sorry, the subproject is dead</em>) and
  <a href="https://gitlab.com/engmark/vcard-rust">Rust</a>, both excellent
  languages. I tried defining an
  <a href="https://github.com/antlr/grammars-v4">ANTLR grammar</a>. But I've got
  nothing to show for any of that. The main problem is motivation: vCard 3, 4
  and <a href="https://tools.ietf.org/html/rfc7095">jCard</a> are incredibly out
  of date, to the point where writing a parser is equal parts painful and
  boring.
</p>
<p>
  <a href="https://xkcd.com/927/"
    ><img
      src="/assets/images/standards.png"
      alt="standards"
      title="“Standards”, XKCD comic by Randall Munroe"
      width="500"
      height="283"
  /></a>
</p>
<p>
  And now, because the Internet needs more opinions (and standards): a human
  friendly address card format is possible. vCard/jCard is not it. When someone
  brave and tenacious enough to take this on comes around, I really hope they
  take at least the following into account:
</p>
<ul>
  <li>
    Use a <strong>popular, existing serialization format.</strong> JSON won in
    this space. It's not perfect, but it's here to stay and it's a good
    compromise between human and machine readable.
  </li>
  <li>
    Don't create another jCard. If you were developing the world's first address
    card format, what would users and developers want to see?
  </li>
  <li>
    Conversely, vCard did many things right.
    <strong>UTF-8, base64 and ISO dates</strong> are definitely good things.
  </li>
  <li>All caps is hard to read. Don't shout.</li>
  <li>
    Don't limit (or even recommend) a line length or line splitting scheme.
    Address cards shouldn't be inlined into emails or documents any more than
    CSV files.
  </li>
  <li>
    <strong>Dictionaries</strong> (as in associated key/value pairs) are useful.
    Use them.
  </li>
  <li><strong>Lists</strong> are useful. Use them.</li>
  <li>
    <strong>Preferred name</strong> should probably be the only required name
    field.
  </li>
  <li>
    <strong>Time zones are not UTC offsets.</strong> I do not live in time zone
    "+12:00", because that offset changes twice per year. I live in time zone
    "Pacific/Auckland". This can be the difference between being on time and
    wasting everybody's time.
  </li>
  <li>
    Allow <strong>linking to photos.</strong> Sure URLs are ephemeral, but so is
    basically everything in an address card.
  </li>
  <li>
    <strong>Any property not in the standard should simply be ignored,</strong>
    as long as the entire document is still a valid instance of the
    serialization format.
  </li>
  <li>
    <strong>Internationalization and localization</strong> are complex but
    important.
  </li>
</ul>
<p>
  What will such a standard look like? Maybe something like this will be
  possible:
</p>
<pre>
{
    "preferred name": "Jane Doe",
    "phone": {
        "cell": ["+99 9999-9999", "+11 0000 0000"],
        "home": "+99 9999-9999"
    },
    "URL": {
        "blog": "https://…",
        "work": ["https://example.org/", "https://example.com/"]
    },
    "photo": "https://…",
    "my custom property": "…",
    "time zone": "Pacific/Auckland"
}
</pre>
