<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script data-goatcounter="https://x9mglanw5rp6m49cj24w7oapa.goatcounter.com/count" async src="/assets/scripts/count.v4.js"></script>
  </body>

</html>
